
.container_first {
    display: flex;
}

.container_first > div{
    flex: 1 1 33.33%;
}



.container_second {
    display: flex;
    flex-direction: column;
    /* margin: -10px; */
    justify-content: center;
    background-color: burlywood;
    width: 30%;
}

.container_second>div {
    border: 1 px solid blue;
    margin: 10px;
}

.container_third {
    display: flex;
    flex-wrap: wrap;
}

.container_third>div {
    content: 'Flex box as two dimensional layout';
    color: crimson;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    flex: 1 1 33.33%;
}